<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

         	<servlet-mapping>
			    <servlet-name>LogLet</servlet-name>
			    <url-pattern>/LogLet</url-pattern>
			</servlet-mapping>
			
			<servlet-mapping>
			    <servlet-name>RegLet</servlet-name>
			    <url-pattern>/RegLet</url-pattern>
			</servlet-mapping>

			<servlet-mapping>
				<servlet-name>ConLet</servlet-name>
				<url-pattern>/ConLet</url-pattern>
			</servlet-mapping>
			
			<servlet>
			    <servlet-name>LogLet</servlet-name>
			    <servlet-class>com.servlet.LogLet</servlet-class>
			</servlet>
			
			<servlet>
			    <servlet-name>ConLet</servlet-name>
			    <servlet-class>com.servlet.ConLet</servlet-class>
			</servlet>

			<servlet>
				<servlet-name>RegLet</servlet-name>
				<servlet-class>com.servlet.RegLet</servlet-class>
			</servlet>

</web-app>